<!DOCTYPE html>
<html>
<head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9365952524965575",
    enable_page_level_ads: true
  });
</script>
  <title>The WCE Forum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/nav' %>
 <%= bootstrap_flash %>
<div class='container'>
  <%= yield %>
</div>

<%= render 'layouts/foot' %>

</body>
</html>
